[general]
 users_default_skin='Graphite'
 login_default_skin=''
 admin_default_skin='EnterpriseBlue'
 auto_reload_config=0
 mpg123=/usr/local/bin/mpg123
 default_logo=Hosted-PBX-2017.png
 agi-debug=0
 company=multitenant<span>PBX</span>


[tts-ibm]
    default_voice = 'en-US_MichaelVoice'
	user = 'apikey'
	pass = 'AyrWhRj66K_vH8N6cVLevKM2cmUXuvRvNQtXUAx5GLff'
    url = 'https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/f61011f1-cc52-482b-8a15-5dd9098a2f8b/v1/synthesize?accept=audio/wav'

[tts-google]
    default_voice = 'ru-RU'
    url = 'http://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob'


[AMI]
 port = 5038
 username = 'pbx-manager-dev'
 password = ''
 host = '127.0.0.1'

 
[DB]
 type = 'mysql'
 name = 'mpbx'
 user = 'mpbx_web'
 password = ''
 host = '127.0.0.1'
 max_result = 1001
